* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.route-body {
  margin-top: 96px;
}

.MuiContainer-maxWidthXs {
  margin-top: 150px;
  margin-bottom: 50px;
}
@media only screen and (max-width: 775px) {
  .route-body {
  margin-top: 85px;
  }
}